# gradle

.gradle/
build/
out/
build/classes/
dist/

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project
eclipse

# fabric

run/
*.launch

# javadoc

docs/
*.log
*.log.gz


docs/web/[0-9]*