.classDoc {
    font-family: Sans-Serif, serif;
    margin: 0;
}

code {
    font-family: monospace;
}


.classDoc code {
    background-color: #C0C0C0;
}

.classItem {
    border: 1px solid #F0F0F0;
}

.paramTable {
    table-layout: fixed;
}

.paramTable thead th:nth-child(1) {
    width: 15%;
}

.paramTable thead th:nth-child(2) {
    width: 35%;
}

.paramTable thead th:nth-child(3) {
    width: 50%;
}

.classItemTitle,.classTitle {
    display: inline-block;
}

.classExtends {
    display: inline-block;
    color: #606060;
}

.constructorDoc,.fieldDoc,.methodDoc {
    padding-bottom: 2em;
    border-bottom: 1px solid #4E4E4E;
}

.shortFieldMethods {
    display: grid;
    grid-template-columns: auto auto;
    padding-bottom: 2em;
    border-bottom: 1px solid #4E4E4E;
}

.shortClassItem {
    display: flex;
    align-items: center;
}

.shortClassItem a {
    text-decoration: none;
    font-weight: normal;
    color: #0066FF;
    padding-right: 5px;
}

.flags,.shortFlags {
    display: inline-block;
}

.flag {
    display: inline-block;
    background-color: #0066FF;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.deprecatedFlag {
    background-color: #FF6666;
}

.type {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin: 0;
    color: #0066FF;
}

.deadType {
    color: #FF0000;
}

.primitiveType {
    color: black;
}

.since {
    display: inline;
    float: right;
    color: #7F7F7F;
}

.classItemTypeTitle {
    display: inline-block;
    margin: 5px 0 0;
}

.classItemTypeDesc {
    display: inline;
    color: #606060;
}

.methodParams,.constructorParams {
    display: inline-block;
    color: #606060;
}

.paramDescription {
    margin: 0;
}

.typeParameter {
    display: inline-block;
}

.paramTable {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.paramTable tr,td,th {
    border: 2px solid #606060;
    margin: 0;
}

.paramTable thead {
    background-color: #0066FF;
    color: white;
}