/* Light Mode */
:root, [color-mode="light"] {
    --color1: #ACACAC;
    --color2: #bcbcbc;
    --color3: #ffffff;
    --color-text: #0066FF;
    --color-text2: #000000;
  }
  
  /* Dark Mode */
  [color-mode="dark"] {
    --color1: #474d50;
    --color2: #3e4346;
    --color3: #181a1b;
    --color-text: #3391ff;
    --color-text2: #e8e6e3;
  }

  /* Any element with the class "light--hidden" will be hidden when the site is set to Light Mode */
:root[color-mode="light"] .light--hidden {
    display: none;
}

/* Any element with the class "dark--hidden" will be hidden when the site is set to Dark Mode */
:root[color-mode="dark"] .dark--hidden {
    display: none;
}



select, input {
    background-color: var(--color3);
    color: var(--color-text2);
}

.color-mode__btn {
    border-radius: .375rem;
    border-color: var(--color2);
    border: none;
    color: var(--color-text2);
    background-color: transparent;
}
.color-mode__btn:hover {
    background-color: var(--color2);
}


body {
    font-family: Sans-Serif, serif;
    margin: 0;
    background-color: var(--color3);
    color: var(--color-text2);
}

code {
    font-family: monospace;
}

.topNav {
    background-color: var(--color1);
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
}

.topNav h1 {
    display: block;
    width: 100%;
    padding-left: 10px;
    margin: .3em 0;
}

.topNav h1 img {
    height: 1.5em;
}

.topNav h1 span {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.versionContainer {
    padding: 10px;
}

#mainNav a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    margin: 0;
    color: var(--color-text);
}

.searchContainer {
    margin-left: auto;
    padding: 10px;
}

body > div {
    display: grid;
    grid-template-columns: min-content auto;
}

#mainContent {
    padding: 5px;
    width: calc(100% - 10px);
}

.sideNav {
    padding: 0px 5px;
    background-color: var(--color2);
    height: 100%;
}

#footer {
    background-color: var(--color1);
    display: flex;
    align-items: center;
}

#footer a {
    padding: 10px;
}

#footer h4 {
    display: inline-block;
    margin: 0px;
    padding: 10px;
    margin-left: auto;
}

#Loading {
    text-align: center;
}

#classLists a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    margin: 0;
    color: #0066FF;
}

#menuBtn {
    display: none;
}

@media screen and (max-width: 900px) {
    .topNav h1 {
        width: 100%;
    }
    .sideNav {
        position: absolute;
        float: left;
        display: none;
        background-color: rgba(0,0,0,0);
    }
    #mainNav {
        background-color: var(--color2);
        padding: 5px;
    }
    #mainNav a {
        margin: 10px;
    }
    #mainContent {
        width: 100%;
    }
    body > div {
        display: block;
    }
    .topNav h1 {
        float: left;
        width: auto;
    }
    #menuBtn {
        display: block;
        position: absolute;
        right: 1%;
        top: 1%;
        margin: 10px;
    }
}