/* Light Mode */
:root, [color-mode="light"] {
    --primitiveType-color: black;
    --code-color: #C0C0C0;
    --classItem-color: #F0F0F0;
    --classExtends-color: #606060;
    --paramHeader-color: #0066FF;
    --classItemTypeDesc-color: #606060;
    --methodConstructor-color: #606060;
    --primitiveType-font-size: 0.83em;
    --typeLink-color: #0066FF;

}

/* Dark Mode */
[color-mode="dark"] {
    --primitiveType-color: white;
    --code-color: #3c4143;
    --classItem-color: #404040;
    --classExtends-color: #A0A0A0;
    --paramHeader-color: #3030B0;
    --typeLink-color: #0088FF;
    --classItemTypeDesc-color: #A0A0A0;
    --methofConstructor-color: #A0A0A0;
    --primitiveType-font-size: 1rem
}


.classDoc {
    font-family: Sans-Serif, serif;
    margin: 0;
}

code {
    font-family: monospace;
}


.classDoc code {
    background-color: var(--code-color);
}

.classItem {
    border: 1px solid var(--classItem-color);
}

.paramTable {
    table-layout: fixed;
}

.paramTable thead th:nth-child(1) {
    width: 15%;
}

.paramTable thead th:nth-child(2) {
    width: 35%;
}

.paramTable thead th:nth-child(3) {
    width: 50%;
}

.classItemTitle, .classTitle {
    display: inline-block;
}

.classExtends {
    display: inline-block;
    color: var(--classExtends-color);
    padding: 0 5px;
}


.constructorDoc, .fieldDoc, .methodDoc {
    padding-bottom: 2em;
    border-bottom: 1px solid #4E4E4E;
}

.shortFieldMethods {
    display: grid;
    grid-template-columns: auto auto;
    padding-bottom: 2em;
    border-bottom: 1px solid #4E4E4E;
}

.shortClassItem {
    display: flex;
    align-items: center;
}

.shortClassItem a {
    text-decoration: none;
    font-weight: normal;
    color: var(--typeLink-color);
    padding-right: 5px;
}

.flags, .shortFlags {
    display: inline-block;
}

.flag {
    display: inline-block;
    background-color: var(--paramHeader-color);
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.deprecatedFlag {
    background-color: #FF6666;
}

.type {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin: 0;
    color: var(--typeLink-color);
}

.deadType {
    color: #FF0000;
}

.primitiveType {
    color: var(--primitiveType-color);
    font-size: var(--primitiveType-font-size);
}

.since {
    display: inline;
    float: right;
    color: #7F7F7F;
}

.classItemTypeTitle {
    display: inline-block;
    margin: 5px 0 0;
}

.classItemTypeDesc {
    display: inline;
    color: var(--classItemTypeDesc-color);
}


.methodParams, .constructorParams {
    display: inline-block;
    color: var(--methodConstructor-color);
}

.paramDescription {
    margin: 0;
}

.typeParameter {
    display: inline-block;
}

.paramTable {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.paramTable tr, td, th {
    border: 2px solid #606060;
    margin: 0;
}

.paramTable thead {
    background-color: var(--paramHeader-color);
    color: white;
}
