/* Light Mode */
:root, [color-mode="light"] {
    --top-nav-footer-color: #ACACAC;
    --side-nav-color: #bcbcbc;
    --class-content-color: #ffffff;
    --blue-text-color: #0066FF;
    --primary-text-color: #000000;
    --link-color: #0000FF;
    --visited-link-color: #800080;
}

/* Dark Mode */
[color-mode="dark"] {
    --top-nav-footer-color: #373a3d;
    --side-nav-color: #424345;
    --class-content-color: #181a1b;
    --blue-text-color: #3391ff;
    --primary-text-color: #e8e6e3;
    --link-color: #3391ff;
    --visited-link-color: #a832b1;
}

/* Any element with the class "light--hidden" will be hidden when the site is set to Light Mode */
:root[color-mode="light"] .light--hidden {
    display: none;
}

/* Any element with the class "dark--hidden" will be hidden when the site is set to Dark Mode */
:root[color-mode="dark"] .dark--hidden {
    display: none;
}

a {
    color: var(--link-color);
}

a:visited {
    color: var(--visited-link-color);
}

select, input {
    background-color: var(--class-content-color);
    color: var(--primary-text-color);
}

.color-mode__btn {
    border-radius: .375rem;
    border-color: var(--side-nav-color);
    border: none;
    color: var(--primary-text-color);
    background-color: transparent;
}

.color-mode__btn:hover {
    background-color: var(--side-nav-color);
}


body {
    font-family: Sans-Serif, serif;
    margin: 0;
    background-color: var(--class-content-color);
    color: var(--primary-text-color);
}

code {
    font-family: monospace;
}

.topNav {
    background-color: var(--top-nav-footer-color);
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
}

.topNav h1 {
    display: block;
    width: 100%;
    padding-left: 10px;
    margin: .3em 0;
}

.topNav h1 img {
    height: 1.5em;
}

.topNav h1 span {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.versionContainer {
    padding: 10px;
}

#mainNav a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    margin: 0;
    color: var(--blue-text-color);
}

.searchContainer {
    margin-left: auto;
    padding: 10px;
}

body > div {
    display: grid;
    grid-template-columns: min-content auto;
}

#mainContent {
    padding: 5px;
    width: calc(100% - 10px);
}

#mainContent a {
    color: var(--blue-text-color);
}

.sideNav {
    padding: 0px 5px;
    background-color: var(--side-nav-color);
    height: 100%;
}

#footer {
    background-color: var(--top-nav-footer-color);
    display: flex;
    align-items: center;
}

#footer a {
    padding: 10px;
}

#footer h4 {
    display: inline-block;
    margin: 0px;
    padding: 10px;
    margin-left: auto;
}

#Loading {
    text-align: center;
}

#classLists a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    margin: 0;
    color: var(--blue-text-color);
}

#menuBtn {
    display: none;
}

@media screen and (max-width: 900px) {
    .topNav h1 {
        width: 100%;
    }

    .sideNav {
        position: absolute;
        float: left;
        display: none;
        background-color: rgba(0, 0, 0, 0);
    }

    #mainNav {
        background-color: var(--side-nav-color);
        padding: 5px;
    }

    #mainNav a {
        margin: 10px;
    }

    #mainContent {
        width: 100%;
    }

    body > div {
        display: block;
    }

    .topNav h1 {
        float: left;
        width: auto;
    }

    #menuBtn {
        display: block;
        position: absolute;
        right: 1%;
        top: 1%;
        margin: 10px;
    }
}
